*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: url(background\ login.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 90%;
    max-width: 450px;
    color: whitesmoke;
    text-align: center;
    padding: 50px 35px;
    border: 1px solid rgba(255, 255, 255, 0.341);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.123);
    backdrop-filter: blur(5px);
}

.card img{
    width: 140px;
    border-radius: 50%;
}

.card h2{
    font-size: 40px;
    font-weight: 600;
    margin-top: 20px;
}

.card h4{
    font-size: 30px;
    font-weight: 400;
    margin-top: 20px;
}

.card .link img{
    width: 40px;
    border-radius: 50%;
    margin: 10px 5px;
    transition: background 0.5px;
}

.card .link img:before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: #fc0101;
    transition: .5s;
    transform: scale( .9);
    z-index: -1;
}

.card .link img:hover{
    color: #fcfc01;
    box-shadow: 0 0 20px #fcfc01;
    text-shadow: 0 0 20px #fcfc01;
}

.btn{
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 30em;
    color: #e74c3c;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    align-self: center;
    font-size: 1rem;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}

.btn:hover, .btn:focus{
    color: #fff;
    outline: 0;
}

.fourth{
    border-color: #04b9fb;
    color: #ffffff;
    background-image: linear-gradient(45deg, #f10ff1 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: background 300ms ease-in-out;
}

.fourth:hover{
    background-position: 0;
}